body{
    background-color:#f5f5f5;
    color:black;
    padding: 3px 5px;
    font-family: sans-serif;
}

header{
    text-align:center;
}

header h1{
    font-size:24px;
    margin-bottom: 0;
}

header p{
    margin-top: 0;
}

header h2{
    font-size:20px;
}

#diary_list{
    text-align:center;
}

#diary_list h2{
    clear: both;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0;
}

#diary_list ul{
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    /*
    margin-bottom:0;
    padding-left:0;
    padding-bottom:0;
    */
}

#diary_list ul::after{
    content:"";
    display:block;
    clear:both;
}

#diary_list ul li{
    background-color: #d4f4f2;
    list-style: none;
    display: block;  
    float: left;
    font-size: 16px;
    text-align: center;
    width: 70px;
    justify-content: center;
}

#diary_list ul li.work_log{
     /* background-color: #7fffd4; */
    background-color: #d4f4f2;
    list-style: none;
    display: block;  
    float: left;
    font-size: 16px;
    text-align: center;
    width: 70px;
    justify-content: center;
    margin-top:0;
}

#diary_list ul li.no_entry{
    color: #666666;
    background-color: #cccccc;
}

#diary_list ul li a{
    color: #333333;
    padding: 0 10px;
    text-decoration: none;
}

#diary_list ul li a:hover{
    color: #1f7872;
    background-color: #99e5df;
}

#diary_contents{
    margin: 0 auto;
}

#diary_contents article.diary{
    margin-top: 30px;
    margin-bottom: 30px;
}

#diary_contents p{
    font-family: serif;
}

#diary_contents h3.date{
    background-color: #deb887;
    color: #000000;
    font-size: 16px;
    border-left: solid 0.5em #de7e00;
    border-bottom: solid 1px;
    padding: 0 0.5em;
}

#log_contents{
    margin: 0 auto;
}

#log_contents h3.date{
    background-color: #deb887;
    color: #000000;
    font-size: 16px;
    border-left: solid 0.5em #de7e00;
    border-bottom: solid 1px;
    padding: 0 0.5em;
}

@media (min-width: 720px){
    #diary_contents{
        width: 720px;
    }
    #log_contents{
        width: 720px;
    }
}